html {
  font-family: sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100vh;
  overflow-x: hidden;
}

.List {
  border: 1px solid #F7F7F7;
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.ListItemEven {
  width: 100%;
  background-color: #edf5ff;
}

.ListItemContent {
  background-color: #F4F2F0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
